#### Bot lib ####
git+https://gitlab.com/HarukaNetwork/OSS/PTB.git
telethon
#################
aiohttp
bleach
emoji
feedparser
future
geopy
googletrans
hurry.filesize
markdown2
nltk
Pillow
psycopg2-binary
pynewtonmath
pyowm
python-rapidjson
PyYAML
requests
spamwatch
spongemock
sqlalchemy
tldextract
wikipedia
zalgo-text
lyricsgenius
gTTs 
gTTs-token
search-engine-parser
coffeehouse
pyfiglet
git+https://github.com/voins/google-images-download.git@2cd68173c961324a2c41c61e8b6f40a49663ce60
beautifulsoup4
pytz
speedtest-cli
youtube.dl
google-api-python-client
pyDownload
telegraph
aria2p
cowpy
psutil 
hachoir
