wheel
lxml
chromedriver
numpy
mapper
scipy
matplotlib
opencv-python-headless
scikit-image
argparse
imutils
python-telegram-bot==11.1.0
telethon
aiohttp
bleach
emoji
feedparser
future
geopy
googletrans
hurry.filesize
markdown2
nltk
Pillow
psycopg2-binary
pynewtonmath
pyowm
python-rapidjson
PyYAML
requests
spamwatch
spongemock
sqlalchemy
tldextract
wikipedia
zalgo-text
gTTs 
gTTs-token
search_engine_parser
pyfiglet
beautifulsoup4
pytz
youtube.dl
google-api-python-client
pyDownload
telegraph
aria2p
cowpy
psutil 
hachoir
tswift
pySmartDL
instantmusic
wolframalpha
dnspython
pymongo[srv]
redis
pybase64
chatterbot==1.0.4
selenium
bing_image_downloader
git+https://github.com/rachmadaniHaryono/we-get.git
