git+https://gitlab.com/HarukaNetwork/OSS/PTB.git
telethon
aiohttp
bleach
emoji
feedparser
future
geopy
googletrans
hurry.filesize
markdown2
nltk
Pillow
psycopg2-binary
pynewtonmath
pyowm
python-rapidjson
PyYAML
requests
spamwatch
spongemock
sqlalchemy
tldextract
wikipedia
zalgo-text
gTTs 
gTTs-token
search-engine-parser
pyfiglet
beautifulsoup4
pytz
speedtest-cli
youtube.dl
google-api-python-client
pyDownload
telegraph
aria2p
cowpy
psutil 
hachoir
tswift
pySmartDL
instantmusic
wolframalpha
dnspython
pymongo[srv]
redis
pybase64
chatterbot==1.0.4
selenium
git+https://github.com/voins/google-images-download.git@2cd68173c961324a2c41c61e8b6f40a49663ce60
PyDrive2
git+https://github.com/rachmadaniHaryono/we-get.git
